.art-detail-post{
    width: 75%;
    height: fit-content;
    margin: 100px auto;
}
.art-title-image{
    height: 75vh;
    width: fit-content;
    margin: 0 auto;
    /*margin-top: 100px;*/
}
.art-detail-image{
    height: 100%;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
}
.art-basic-info{
    width: 75%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 50px;
}
.art-detail-title{
    font-size: 40px;
    font-weight: normal;
    font-family: "CMU Serif";
    text-align: center;
}
.art-detail-author-date-expertise{
    font-family: "CMU Serif";
    font-size: 20px;
}
.art-latest-category-pink{}
.art-latest-date-author{
    display: flex;
}
.art-latest-date{
    flex: 50%;
}
.art-latest-author{
    flex: 50%;
    align-self: end;
    text-align: right;
}
.art-latest-art-category{
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: grey;
    background-color: #dddddd;
}
.art-latest-art-table{
    margin: 0 auto;
}
.art-latest-art-col1{
    width: 50%;
    padding-right: 30px;
}
td.art-latest-art-col2{
    width: 50%;
    padding-left: 30px
}
td.art-latest-content{
    font-family: "CMU Serif";
    font-size: 20px;
}
