a{
    text-decoration: none;
    color: black;
}
.detail-book-volume{
    width: 100%;
    display: flex;
}
.detail-book-volume-nav-prev{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 9999;
}
.detail-book-volume-nav-next{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 9999;
    width: 8%;
}
.detail-book-volume-nav-prev{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 9999;
    width: 8%;
    /*float: right;*/
    /*background-color: #f2bf2c;*/
}
.detail-book-volume-side-nav-next-arrow {
    width: 100%;
    position: absolute;
}
.detail-book-volume-side-nav-next-arrow:hover{
    scale: 110%;
}
.detail-book-volume-side-nav-prev-arrow{
    width: 100%;
    position: absolute;
    /*display: none;*/
}
.detail-book-volume-side-nav-prev-arrow:hover{
    scale: 110%;
}
.detail-book-volume-content{
    width: 70%;
    margin: 0 auto ;
}
.detail-book-volume-image-div{
    width: fit-content;
    min-height: 75vh;
    margin: 150px auto;
}
.detail-image{
    max-height: 75vh;
    object-fit: contain;
}
.detail-book-volume-description{
    min-height: 50vh;
    width: fit-content;
    margin: 150px auto;
}
.detail-book-volume-description [span], .detail-book-volume-description [p], .detail-book-volume-description span, .detail-book-volume-description p{
    font-family: "CMU Serif"!important;
    font-size: 20px!important;
    line-height: 150%;
}
.detail-book-volume-author{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: "CMU Serif";
    font-size: 30px;
}
p.detail-book-volume-title{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 150px;
    font-family: "CMU Serif";
    font-weight: bold;
    font-size: 35px!important;
}
.detail-book-volume-acknowledgment{
    width: fit-content;
    margin: 0 auto;
    font-size: 20px;
    font-family: "CMU Serif";
}
p.detail-book-volume-from-author-text{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 70px;
    font-family: "CMU Serif";
    font-weight: bold;
    font-size: 30px!important;
}
.detail-book-volume-table-of-contents{
    min-height: 50vh;
    width: 80%;
    margin: 150px auto;
}
.detail-book-volume-table-of-contents-text{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 70px;
    font-family: "CMU Serif";
    font-weight: bold;
    font-size: 30px;
}
.detail-book-volume-chapter-poem {
    font-family: "CMU Serif";
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0;
}
.detail-book-volume-poem{
    width: fit-content;
    margin: 1em auto;
}
.detail-book-volume-acknowledgment p span, .detail-book-volume-from-author p span{
    line-height: 150%;
    font-family: "CMU Serif";
}
.detail-book-volume-nav-next-arrow{
    width: 100%;
}
.detail-book-volume-nav-prev-arrow-div{
    width: 50%;
}
.detail-book-volume-nav-prev-arrow{
    width: 30px;
    float: left;
}
.detail-book-volume-prev{
    width: fit-content;
    float: left;
}
.detail-book-volume-nav-next-arrow-div{
    width: 50%;
}
.detail-book-volume-next{
    width: fit-content;
    float: left;
}
.detail-book-volume-nav-next-arrow{
    width: 30px;
    float: left;
}
.detail-book-volume-nav-top, .detail-book-volume-nav-bottom{
    width: 50%;
    height: 30px;
    margin: 50px auto;
    display: none;
}
.detail-book-volume-nav-next-arrow-div{
    width: fit-content;
    float: right;
}
.detail-book-volume-next, .detail-book-volume-prev{
    line-height: 30px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #c0c5cd;
}
.detail-book-volume-next {
    margin-right: 10px;
}
.detail-book-volume-prev{
    margin-left: 10px;
}