body, html, h1, h2, h3, h4, h5, h6, p, div, a {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.header-container {
    width: 80%;
    height: 70px;
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.nav{
    height: fit-content;
    margin-top: 10px;
    padding: 10px;
}
.nav-a-search-img{
    position: relative;
    bottom: -5px;
    width: 30px;
    aspect-ratio: 1 / 1;
}

.nav > a{
    font-size: 18px;
    margin-right: 40px;
    color: black;
}
.nav-a-about {
  color: #35ac49;
  padding: 2px;
  position: relative;
  text-decoration: none;
}

.nav-a-about::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #35ac49;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-a-about:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-a-about:hover{
    color: #35ac49;
}

/**/
.nav-a-art {
  color: #e9549f;
  padding: 2px;
  position: relative;
  text-decoration: none;
}

.nav-a-art::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #e9549f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-a-art:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-a-art:hover{
    color: #e9549f;
}


.nav-a-literature {
  color: #62bcea;
  padding: 2px;
  position: relative;
  text-decoration: none;
}

.nav-a-literature::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #62bcea;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-a-literature:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-a-literature:hover{
    color: #62bcea;
}
/**/
.nav-a-science {
  color: #f2bf2c;
  padding: 2px;
  position: relative;
  text-decoration: none;
}

.nav-a-science::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #f2bf2c;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-a-science:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-a-science:hover{
    color: #f2bf2c;
}
/**/
.nav-a-entertainment {
  color: #a73594;
  padding: 2px;
  position: relative;
  text-decoration: none;
}

.nav-a-entertainment::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #a73594;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-a-entertainment:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-a-entertainment:hover{
    color: #a73594;
}

.logo-wrapper{
    width: 250px;
    margin-left: 50px;
}

.logo{
    color: black;
    transition: all 150ms ease-in-out;
}

.logo:hover{
    color: #CC007E;
}

.logo_image{
    height: 70%;
    margin-top: 10px;
}

.header-background{
    background: white;
    /*backdrop-filter: blur(10px);*/
    height: 70px;
}

/* The progress container (grey background) */
.progress-container {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 8px;
    background: #fff;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    /*background: #e9549f;*/
    background: #e9549f;
    width: 8%;
}

section {
    /*height: 75vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-family: "CMU Serif";*/
    /*font-size: 32px;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 8px;*/
}

.section1{
    display: none;
    height: fit-content;
    /*background: white;*/
    background: #f0932b;
}
.section2{
    height: fit-content;
    display: unset;
}
.section3{
    height: fit-content;
    margin: 80px 0;
}
.section4{
    height: fit-content;
    /*background: #7ed6df;*/
}

.section-about{
    height: fit-content;
}

.to-top {
    background: white;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    background-color: #f0932b;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
p#search-form-empty{
    font-family: "CMU Serif"!important;
    font-size: 30px!important;
    width: fit-content!important;
    margin: 20px auto!important;
}

.to-top.active{
    bottom: 15px;
    pointer-events: auto;
    opacity: 1;
}

.to-top-img {
    width: 30px;
    height: 30px;
}
div.label-figure{
    margin: 0 auto;
    width: fit-content;
}
div.label-table{
    margin: 0 auto;
    width: fit-content;
}
/*****************/
/*  parination  */
/*****************/

.pagination-nav{
    font-size: 20px;
    font-family: "CMU Serif";
    width: fit-content;
    margin: 20px auto;
}
.parination-hr{
    border-top: 3px solid #f0932b;
    border-bottom: 3px solid #f0932b;
}
#pagination-next{
    margin-left: 30px;
}
#pagination-prev{
    margin-right: 30px;
}
/****************/
/*  mail form  */
/***************/

#contact-form{
    background-color: #f0932b;
}
#contact-form-title {
    width: fit-content;
    margin: 0 auto;
}
.contact-form-div{
    font-family: "CMU Serif";
    font-size: 20px;
    margin: 20px auto;
    padding-bottom: 20px;
}
.mail-form-title-div{
    margin: 30px 0;
}
.contact-form{
    height: fit-content;
    width: fit-content;
    margin: 30px auto;
    align-items: center;
}
.contact-form > div{
    margin: 0px auto;
}
.contact-form-title{
    font-size: 20px;
    font-family: "CMU Serif";
    text-align: center;
}
.mail-address, .mail-title, .mail-content{
    float:left;
    clear: left;
    width: 100%;
    display: flex;
    float: left;
}
.text-mail{
    font-family: "CMU Serif";
    font-size: 18px;
}
.form-mail-address, .form-mail-title{
    padding-left: 10px;
    text-align: left!important;
    width: 25vw;
    border: 1px solid white;
    border-radius: 7px;
    text-align: center;
    -moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;
    font-size: 18px;
    font-family: "CMU Serif";
    line-height: 30px;
    width: 400px;
    margin: 30px auto;
}
.form-mail-content{
    padding-left: 10px;
    text-align: left!important;
    width: 25vw;
    border: 1px solid white;
    border-radius: 7px;
    text-align: center;
    -moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;
    font-size: 18px;
    font-family: "CMU Serif";
    line-height: 30px;
    width: 400px;
    height: 200px;
    margin: 30px auto;
}
.btn-send{
    appearance: none;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 7px;
    font-size: 18px;
    font-family: "Helvetica";
    font-weight: bolder;
    color: white;
    border: 3px solid white;
    background-color: #f0932b;
    border-radius: 7px;
    text-transform: uppercase;
}
.email-send-success{
    font-family: "CMU Serif";
    font-size: 35px;
    text-align: center;
    margin: 30vh auto;
}
/**********************************************/
/*  the part below stylize the search section*/
/********************************************/
.form-column{
    height: max-content;
    padding: 20px;
    display: table-row;
}
.form-checkbox{
    margin-left: 20px;
    margin-top: 20px;
}
hr{
  border-top: 1px solid white;
}
.form-expertise-search{
    margin-top: 20px;
    margin-right: 40px;
    float: left;
    padding: 10px;
}
.form-content-search{
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    padding: 10px;
}
#form-expertise-search-title{
    font-family: "CMU Serif";
    font-size: 20px;
}
#form-sentence-search-title{
    font-family: "CMU Serif";
    font-size: 20px;
}

.form-sentence-search{
    width: fit-content;
    margin: 20px auto;
}
.form-expertise-search-div{
    display: table-row;
    height: fit-content;
}
.form-expertise-search-item{
    display: inline-flex;
    margin-right: 10px;
    font-family: "CMU Serif";
    font-size: 18px;
}
label.form-expertise-search-item{
    height: inherit;
}

input[type=checkbox] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;
}

#form-expertise-all:before,
#form-expertise-art:before,
#form-expertise-literature:before,
#form-expertise-science:before,
#form-expertise-entertainment:before,
#form-content-all:before,
#form-content-title:before,
#form-content-content:before{
	font-family: "FontAwesome";
    content: "\f00c";
    font-size: 15px;
    color: transparent !important;
    background: #fef2e0;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 7px;
}

#form-expertise-all:checked:before,
#form-expertise-art:checked:before,
#form-expertise-literature:checked:before,
#form-expertise-science:checked:before,
#form-expertise-entertainment:checked:before,
#form-content-all:checked:before,
#form-content-title:checked:before,
#form-content-content:checked:before{
    background-color: #f0932b;
	color: white !important;
}
/*********************************************/
/*      COLOR MATCHING EXPERTISE THEME      */
/*********************************************/
/*#form-expertise-art:checked:before {*/
/*    background-color: #e9549f;*/
/*    border: 1px solid #e9549f;*/
/*	color: white !important;*/
/*}*/
/*#form-expertise-literature:checked:before {*/
/*    background-color: #62bcea;*/
/*    border: 1px solid #62bcea;*/
/*	color: white !important;*/
/*}*/
/*#form-expertise-science:checked:before {*/
/*    background-color: #f2bf2c;*/
/*    border: 1px solid #f2bf2c;*/
/*	color: white !important;*/
/*}*/
/*#form-expertise-entertainment:checked:before {*/
/*    background-color: #a73594;*/
/*    border: 1px solid #a73594;*/
/*	color: white !important;*/
/*}*/

.searched-sentence-input{
    width: 25vw;
    border: 1px solid white;
    border-radius: 7px;
    text-align: center;
}

.searched-sentence-input{
    -moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;
    font-size: 18px;
    font-family: "CMU Serif";
}
.searched-sentence-input::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /*Your new styles */
  height: 10px;
  width: 10px;
  background: #f0932b;
}
.search-btn{
    margin-left: 20px;
    padding: 7px;
    font-size: 18px;
    font-family: "Helvetica";
    font-weight: bolder;
    color: white;
    border: 3px solid white;
    background-color: #f0932b;
    border-radius: 7px;
    text-transform: uppercase;
}
p.records-found-text{
    display: inline;
    font-size: 18px;
    font-family: "CMU Serif";
    font-weight: bolder;
    font-size: 30px;
}
.records-found-text:first-child{
    margin-right: 20px;
    font-weight: normal;
}
.records-found-text:last-child{
    margin-left: 20px;
    font-weight: normal;
}
div#records-found-text{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}
#records-found-divider{
    border-top: 3px solid #f0932b;
}


/*   the part below hides the navbar when the screen width is to small
      and enables to show the mobile version of side-navbar*/
@media screen and (max-width: 1325px){
    .header,
    .nav{
        font-size: 12px;
        padding: 10px 0 0 10px;
    }
    .nav > a{
        font-size: 15px;
    }
    .logo-wrapper{
        width: 165px;
        margin: 0 auto;
    }
    .logo_image {
        height: 50%;
        margin-top: 20px;
    }
    .nav-a-search-img{
        position: relative;
        bottom: -5px;
        width: 25px;
        aspect-ratio: 1 / 1;
    }
}

@media screen and (max-width: 1048px){
    .header,
    .nav{
        display: none;
    }
    .logo-wrapper{
        width: 165px;
        margin: 0 auto;
    }
    .logo_image {
        height: 50%;
        margin-top: 20px;
    }
    .progress-container {
        height: 5px;
    }
    .nav-a-search-img{
        position: relative;
        bottom: 0px;
        width: 40px;
        aspect-ratio: 1 / 1;
    }
    /* The progress bar (scroll indicator) */
    .progress-bar {
        height: 5px;
    }
}

@media screen and (max-width: 325px){
    .header,
    .nav{
        display: none;
    }
    .logo-wrapper{
        padding-right: 60px;
    }
    .min-nav {
        display: none;
    }
    .section1{
        height: fit-content;
        width: 100%;
        /*background: #f0932b;*/
    }
}

/*   mobile version   */
.mob-open{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 30px;
}

.mob-close {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 4;
}
.mob-icon{
    width: 50px;
    height: 50px;
    position: center;
}

.mob-list {
    height: fit-content;
    width: 60px;
    position: fixed;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.mob-list-item{
    color: black;
}

.mob-list-item:hover{
    color: #CC007E;
}

.mob-list-item:first-child{
    margin-top: 15px;
}
.mob-list-item:last-child{
    margin-bottom: 15px;
}

@media screen and (min-width: 687px){
    .mob-menu{
        display: none;
    }
}

/* minimal menu icon style probably for tablets*/
.min-icon{
    width: 50px;
    padding-right: 10px;
}
.min-nav{
    padding: 15px 0 0 15px;
}

@media screen and (max-width: 687px){
    .min-nav{
        display: none;
    }
    .section1{
        height: fit-content;
        width: 100%;
    }
    .nav-a-search-img{
        position: relative;
        bottom: -5px;
        width: 40px;
        aspect-ratio: 1 / 1;
    }
}
@media screen and (min-width: 983px){
    .min-nav{
        display: none;
    }
}

/*   js   */

.opened{
    opacity: 1;
    animation: openAnim 200ms ease-in-out;
}

.close{
    opacity: 0;
    animation: closeAnim 200ms ease-in-out;
}

/*   animation   */
@keyframes openAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes closeAnim {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}