*{
    margin: 0;
    padding: 0;
}
.one-post{
    width: 76%;
    height: fit-content;
    margin: 30px auto;
    display: flex;
}
.latest-image-div{
    margin: auto 0;
    padding: 5px;
    width: 50%;
    height: inherit;
}
.latest-image{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.latest-post-info{
    margin: 5px 15px;
    width: 50%;
}
.latest-category-author-date{
    height: fit-content;
}
.latest-category{
    margin-top: 15px;
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: grey;
    background-color: #dddddd;
}
.latest-category-blue{
    margin-top: 5px;
    margin-left: 5px;
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #62bcea;
}
.latest-category-pink{
    margin-top: 5px;
    margin-left: 5px;
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #e9549f;
}
.latest-category-purple{
    margin-top: 5px;
    margin-left: 5px;
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #a73594;
}
.latest-category-yellow{
    margin-top: 5px;
    margin-left: 5px;
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #f2bf2c;
}
.latest-date-author{
    width: border-box;
    height: fit-content;
    margin: 0 auto;
    align-content: space-evenly;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    color: grey;
}
.latest-author{
    float: right;
    text-align: right;
}
.latest-date{
    margin-left: 5px;
    float: left;
}
.latest-title{
    width: border-box;
    height: fit-content;
    margin: 15px 0px;
    font-family: "CMU Serif";
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest-art-category{
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: grey;
    background-color: #dddddd;
}
.latest-art-table{
    margin: 15px 0;
    width: 70%;
}
tr{
    height: 30px;
}
.latest-art-col1{
    width: 50%;
}

.latest-content{
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.latest-literature-content{
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
}
.latest-art-content {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
p{
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
a.detail-latest{
    color: #0048ff;
    font-weight: normal;
    text-decoration: none;
    float: left
}
.scrollable{
    margin: 4px 4px;
    padding: 4px;
    width: inherit;
    /*overflow: auto;*/
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

@media screen and (max-width: 825px) {
.one-post{
    width: 50%;
    display: block;
    padding: 10px;
}
.latest-image-div{
    margin: 15px 0;
    padding: 0;
    width: 100%;
}
.latest-post-info{
    margin: 15px 0;
    width: 100%;
}
.latest-art-table{
    width: 100%;
}
}

@media screen and (max-width: 450px) {
.latest-image{
    height: 150px;
}
.latest-art-table{
    width: 100%;
}
tr{
    height: fit-content;
}
}