.thumbnail {
    width: 76%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #7ed6df;
}

.one-thumbnail {
    margin-bottom: 3px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    background-color: white;
}
.one-thumbnail:first-child{
    margin-top: 15px;
}
.one-thumbnail:last-child{
    margin-bottom: 15px;
}

.thumbnail-image-div{
    flex: 30%;
    margin: 10px;
}
.thumbnail-info {
    flex: 70%;
    width: 100%;
    margin: 10px;
}
.thumbnail-image{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.thumbnail-category_author_date{
    display: flex;
}
.thumbnail-expertise-date{
    flex: 50%;
}
.thumbnail-author-div{
    flex: 50%;
    align-self: end;
    text-align: right;
}
.thumbnail-category,
.thumbnail-date,
.thumbnail-author{
    margin: 0;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: grey;
}
.thumbnail-author{
    text-align: right;
}
.thumbnail-category-blue{
    margin-bottom: 3px;
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #62bcea;
}
.thumbnail-category-pink{
    margin-bottom: 3px;
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #e9549f;
}
.thumbnail-category-purple{
    margin-bottom: 3px;
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #a73594;
}
.thumbnail-category-yellow{
    margin-bottom: 3px;
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #f2bf2c;
}
.thumbnail-date{
    margin-left: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: grey;
}
.thumbnail-title{
    margin: 5px auto;
    text-align: center;
    font-family: "CMU Serif";
    font-size: 18px;
    font-weight: bolder;
}
.thumbnail-literature-title{
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: grey;
    background-color: #dddddd;
}
.thumbnail-art-category{
    width: fit-content;
    padding: 3px;
    font-size: small;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: grey;
    background-color: #dddddd;
}

@media screen and (max-width: 800px) {
.one-thumbnail {
    display: flex;
}
.thumbnail-image-div{
    order: 1;
    flex: 100%;
}
.thumbnail-info {
    order: 2;
    flex: 100%;
}
}
@media screen and (max-width: 500px) {
.one-thumbnail {
    flex-direction: column;
}
.thumbnail-image-div{
    order: 1;
    flex: 100%;
}
.thumbnail-info {
    order: 2;
    flex: 100%;
}
}