{% extends "index.html" %}
{% load static %}
{% load templatetags %}

{% block content %}
<!--mathjax-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<style>
    a.nav-a-about {
        background: #35ac49;
        color: white;
    }

    a.nav-a-about:hover {
        background: white;
    }
</style>
{% load templatetags %}
<div class="carousel-background-about">
<div class="carousel">
    <ul>
        <div class="owl-carousel">
            <!-- Iterate over seat_list -->
            {% for seat in combined.roundabout %}
            <a class="detail-carousel" href="{%url 'details' seat.class_name seat.id%}">
                <div class="wrapper">
                    {% if seat.image.url != null %}
                    <img class="image" src="{{seat.image.url}}" alt="{{seat.image.name}}" class="title_image">
                    {% else %}
                    {% if seat.expertise.expertise_en == 'literature' %}
                    <img class="image" src="{% static 'literature_img.png' %}" alt="literature" class="title_image">
                    {% elif seat.expertise.expertise_en == 'art' %}
                    <img class="image" src="{% static 'art_img.png' %}" alt="art" class="title_image">
                    {% elif seat.expertise.expertise_en == 'science' %}
                    {% elif seat.expertise.expertise_e.expertise.expertise_en == 'entertainment' %}
                    {% endif %}
                    {% endif %}
                    <div class="post_info">
                        {% if seat.expertise.expertise_en == 'literature' %}
                        <p class="latest-category-blue">{{seat.expertise.expertise_en}}</p>
                        {% elif seat.expertise.expertise_en == 'art' %}
                        <p class="latest-category-pink">{{seat.expertise.expertise_en}}</p>
                        {% elif seat.expertise.expertise_en == 'entertainment'%}
                        <p class="latest-category-purple">{{seat.expertise.expertise_en}}</p>
                        {% elif seat.expertise.expertise_en == 'science' %}
                        <p class="latest-category-yellow">{{seat.expertise.expertise_en}}</p>
                        {% endif %}
                        <div class="title">
                            <p>{{seat.title|truncatechars:35}}</p>
                        </div>
                        <div class="author_date">
                            {% if seat.author.middleName != null %}
                            <p class="author">{{seat.author.firstName.0}}. {{seat.author.middleName.0}}.
                                {{seat.author.lastName}}</p>
                            {% else %}
                            <p class="author">{{seat.author.firstName.0}}. {{seat.author.lastName}}</p>
                            {% endif %}
                            <p class="date">{{seat.date|date:"d.m.Y"}}</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- If seat_list is empty  -->
            {% empty %}
            <li>No seats yet.</li>
            {% endfor %}
        </div>
    </ul>
</div>
</div>
<!--scripts-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="{% static 'roundabout.js' %}"></script>

{%endblock%}

{% block about %}

<!--mathjax-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% load templatetags %}

<div class="authors">
    {% for author in combined.authors %}
    <div class="one-author">
        <div class="author-image-div">
            {% if author.image.url != null%}
            <img class="author-image" src="{{author.image.url}}" alt="{{author.image.name}}">
            <img class="author-frame" src="{{author.frame.url}}" alt="{{author.frame.name}}">
            {% endif %}
        </div>
        <div class="author-info">
            <p class="author-name">{{author.full_name}}</p>
            <p class="author-expertise">{{author.expertise.expertise_en}}</p>
            <div class="author-description">
                <p>{{author.info|safe}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <hr id="records-found-divider">


    <section id="contact-form">
        <form class="d-flex" id="form-mail" method=POST action="{%url 'email_send'%}">
            {% csrf_token %}
            <div class="mail-form-title-div">
                <p class="contact-form-title">Any questions, feedback, collaboration proposal or lets say...
                    commision?</p>
                <p class="contact-form-title">Write to us :-)</p>
            </div>
            <div class="mail-address">
                <p class="text-mail">Address: </p>
                <input class="form-mail-address" name="email" type="text" placeholder="Your email">
            </div>
            <div class="mail-title">
                <p class="text-mail">Title: </p>
                <input class="form-mail-title" name="title" type="text" placeholder="Title">
            </div>
            <div class="mail-content">
                <p class="text-mail"> Mail:</p>
                <textarea class="form-mail-content" rows="1" name="content" oninput="auto_height(this)"
                          placeholder="Write the mail here..."></textarea>
            </div>
            <div class="mail-address">
                <button id="btn-send" class="btn-send" type="submit">Send</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}