{% extends "index.html" %}
{% load static %}
{% load templatetags %}
{% block content %}

<!--mathjax-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <style>
        a.nav-a-art{
            background: #e9549f;
            color: white;
        }
        a.nav-a-art:hover{
            background: white;
        }
    </style>
{% load templatetags %}
    <div class="carousel">
        <ul>
    <div class="owl-carousel">
    <!-- Iterate over seat_list -->
    {% for seat in combined.roundabout %}
        <a class="detail-carousel" href="{%url 'details' seat.class_name seat.id%}">
        <div class="wrapper">
            {% if seat.image.url != null %}
            <img class="image" src="{{seat.image.url}}" alt="{{seat.image.name}}" class="title_image">
            {% else %}
                <img class="image" src="{% static 'art_img.png' %}" alt="art" class="title_image">
            {% endif %}
            <div class="post_info">
                <p class="latest-category-pink">{{seat.category}}</p>
                <div class="title">
                    <p>{{seat.title|truncatechars:35}}</p>
                </div>
                <div class="author_date">
                    {% if seat.author.middleName != null %}
                    <p class="author">{{seat.author.firstName.0}}. {{seat.author.middleName.0}}. {{seat.author.lastName}}</p>
                    {% else %}
                    <p class="author">{{seat.author.firstName.0}}. {{seat.author.lastName}}</p>
                    {% endif %}
                    <p class="date">{{seat.date|date:"d.m.Y"}}</p>
                </div>
            </div>
        </div>
        </a>
    <!-- If seat_list is empty  -->
    {% empty %}
    <li>No seats yet.</li>
    {% endfor %}
    </div>
</ul>
    </div>
<!--scripts-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="{% static 'roundabout.js' %}"></script>

    <ul>
    <div class="latest">
    <!-- Iterate over post_list -->
    {% for post in combined.latest  %}
        <div class="one-post">
            <div class="latest-image-div">
                <a href="{%url 'details' post.class_name post.id%}">
                {% if post.image.url != null %}
                    <img class="latest-image" src="{{post.image.url}}" alt="{{post.image.name}}" class="title_image">
                {% else %}
                    {% if post.expertise.expertise == 'literature' %}
                        <img class="latest-image" src="{% static 'literature_img.png' %}" alt="literature" class="title_image">
                    {% elif post.expertise.expertise == 'art' %}
                        <img class="latest-image" src="{% static 'art_img.png' %}" alt="art" class="title_image">
                    {% elif post.expertise.expertise == 'science' %}
                        <img class="latest-image" src="{% static 'science_img.png' %}" alt="art" class="title_image">
                    {% elif post.expertise.expertise == 'entertainment' %}
                        <img class="latest-image" src="{% static 'entertainment_img.png' %}" alt="art" class="title_image">
                    {% endif %}
                {% endif %}
                    </a>
            </div>
<!--            <a style=" text-decoration: none; float: left"  href="{%url 'details' post.class_name post.id%}">Read on...</a>-->
            <div class="latest-post-info" style="margin-top: 50px">
                <div class="latest-category-author-date">
                    <div class="latest-date-author">
                        <p class="latest-date">{{post.date|date:"d.m.Y"}}</p>
                        {% if post.author.middleName != null %}
                            <p class="latest-author">{{post.author.firstName.0}}. {{post.author.middleName.0}}. {{post.author.lastName}}</p>
                        {% else %}
                            <p class="latest-author">{{post.author.firstName.0}}. {{post.author.lastName}}</p>
                        {% endif %}
                    </div>
                </div>
                <br>
                <h3 class="latest-title">{{post.title}}</h3>
                <p class="latest-art-category">{{post.category}}</p>
                    <div id="latest-content" class="latest-content">
                            <table class="latest-art-table">
                                <tr>
                                    <td class="latest-art-col1">Materials: </td>
                                    <td class="latest-art-col2">{{post.materials}}</td>
                                </tr>
                                <tr>
                                    <td class="latest-art-col1">Dimentions: </td>
                                    <td class="latest-art-col2">{{post.dimentionX}}x{{post.dimentionY}} mm</td>
                                </tr>
                            </table>
                            <div class="latest-content">
                                <p>{{post.content|safe|truncatewords:100}}</p>
                            </div>
                    </div>
                <a class="detail-latest" href="{%url 'details' post.class_name post.id%}">
                <div class="detail-latest-div">
                    <p class="latest-detail-link">Read the article</p>
                    <img class="latest-right-arrow" src="{% static 'arrow_right.png' %}" alt="art">
                </div>
                </a>
            </div>
        </div>
    <!-- If post_list is empty  -->
    {% empty %}
    <li>No posts yet.</li>
    {% endfor %}
    </div>
</ul>

<div class="art-thumbnail">
    <!-- Iterate over thumb_list -->
    {% for thumb in combined.thumbnail%}
    <a class="art-detail-thumbnail" href="{%url 'details' thumb.class_name thumb.id%}">
        <div class="art-one-thumbnail">
            {% if thumb.image.url != null %}
                <img class="art-thumbnail-image" src="{{thumb.image.url}}" alt="{{thumb.image.name}}">
            {% else %}
                <img class="art-thumbnail-image" src="{% static 'art_img.png' %}" alt="art">
            {% endif %}
            </div>
        <div class="art-overlay-info">
            <div class="thumbnail-category_author_date">
                    <div class="thumbnail-expertise-date">
                        {% if thumb.expertise.expertise == 'art' %}
                            <p class="art-thumbnail-art-category">{{thumb.category}}</p>
                        {% endif %}
                        <p class="art-thumbnail-date">{{thumb.date|date:"d.m.Y"}}</p>
                    </div>
                    <div class="thumbnail-author-div">
                        {% if thumb.author.middleName != null %}
                            <p class="art-thumbnail-author">{{thumb.author.firstName.0}}. {{thumb.author.middleName.0}}. {{thumb.author.lastName}}</p>
                        {% else %}
                            <p class="art-thumbnail-author">{{thumb.author.firstName.0}}. {{thumb.author.lastName}}</p>
                        {% endif %}
                    </div>
                </div>
            <h3 class="art-thumbnail-title">{{thumb.title}}</h3>
            <p class="art-thumbnail-matherials">({{thumb.materials}})</p>
        </div>
    </a>
    {% endfor %}
    </div>


    {% if combined.thumbnail.has_previous %}
    <a href="?page={{ combined.thumbnail.previous_page_number }}">« Previous page</a>

    {% if combined.thumbnail.number > 3 %}
    <a href="?page=1">1</a>
    {% if combined.thumbnail.number > 4 %}
    <span>...</span>
    {% endif %}
    {% endif %}
    {% endif %}

    {% for num in combined.thumbnail.paginator.page_range %}
    {% if combined.thumbnail.number == num %}
    <a href="?page={{ num }}">{{ num }}</a>
    {% elif num > combined.thumbnail.number|add:'-3' and num < combined.thumbnail.number|add:'3' %}
    <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if combined.thumbnail.has_next %}
    {% if combined.thumbnail.number < combined.thumbnail.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ combined.thumbnail.paginator.num_pages }}">{{ combined.thumbnail.paginator.num_pages }}</a>
    {% elif combined.thumbnail.number < combined.thumbnail.paginator.num_pages|add:'-2' %}
    <a href="?page={{ combined.thumbnail.paginator.num_pages }}">{{ combined.thumbnail.paginator.num_pages }}</a>
    {% endif %}

    <a href="?page={{ combined.thumbnail.next_page_number }}">Next Page »</a>
    {% endif %}
{% endblock %}