<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    {% load templatetags %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>
<body>
    {% if post.class_name == "Post"%}
    <div class="post-detail-post">
        <div class="title-image">
            {% if post.image.url != null %}
                    <img class="detail-image" src="{{post.image.url}}" alt="{{post.image.name}}" class="title_image">
                {% else %}
                    {% if post.expertise.expertise == 'literature' %}
                        <img class="detail-image" src="{% static 'literature_img.png' %}" alt="literature" class="title_image">
                    {% elif post.expertise.expertise == 'art' %}
                        <img class="detail-image" src="{% static 'art_img.png' %}" alt="art" class="title_image">
                    {% elif post.expertise.expertise == 'science' %}
                        <img class="detail-image" src="{% static 'science_img.png' %}" alt="art" class="title_image">
                    {% elif post.expertise.expertise == 'entertainment' %}
                        <img class="detail-image" src="{% static 'entertainment_img.png' %}" alt="art" class="title_image">
                    {% endif %}
                {% endif %}
        </div>
        <div class="basic-info">
            <h3 class="detail-title">{{post.title}}</h3>
            <div class="detail-author-date-expertise">
                {% if  post.expertise.expertise == 'literature' %}
                    <p class="latest-category-blue">{{post.expertise.expertise}}</p>
                {% elif post.expertise.expertise == 'art' %}
                    <p class="latest-category-pink">{{post.expertise.expertise}}</p>
                {% elif post.expertise.expertise == 'entertainment'%}
                    <p class="latest-category-purple">{{post.expertise.expertise}}</p>
                {% elif post.expertise.expertise == 'science' %}
                    <p class="latest-category-yellow">{{post.expertise.expertise}}</p>
                {% endif %}
                <br>
                <div class="latest-date-author">
                    <p class="latest-date">{{post.date|date:"d.m.Y"}}</p>
                    {% if post.author.middleName != null %}
                        <p class="latest-author">{{post.author.firstName.0}}. {{post.author.middleName.0}}. {{post.author.lastName}}</p>
                    {% else %}
                        <p class="latest-author">{{post.author.firstName.0}}. {{post.author.lastName}}</p>
                    {% endif %}
            </div>
            <div class="detail-content">
                {% if  post.expertise.expertise == 'literature' %}
                    <p class="latest-literature-title">{{post.volume.title}}</p>
                    <p class="latest-literature-title">{{post.book.title}}</p>
                    <p class="latest-literature-content">{{post.content|safe}}</p>
                {% elif post.expertise.expertise == 'art' %}
                    <p class="latest-art-category">{{post.category}}</p>
                        <table class="latest-art-table">
                            <tr>
                                <td class="latest-art-col1">Materials: </td>
                                <td class="latest-art-col2">{{post.materials}}</td>
                            </tr>
                            <tr>
                                <td class="latest-art-col1">Dimentions: </td>
                                <td class="latest-art-col2">{{post.dimentionX}}x{{post.dimentionY}} mm</td>
                            </tr>
                        </table>
                        <div class="latest-content">
                            <p>{{post.content|safe}}</p>
                        </div>
                {% elif post.expertise.expertise == 'entertainment' or post.expertise.expertise == 'science' %}
                    <p class="latest-content">{{post.content|highlight_code|safe}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if post.class_name == "Artwork" %}
     <div class="art-detail-post">
        <div class="art-title-image">
            {% if post.image.url != null %}
                    <img class="art-detail-image" src="{{post.image.url}}" alt="{{post.image.name}}">
                {% else %}
                    <img class="art-detail-image" src="{% static 'art_img.png' %}" alt="art">

                {% endif %}
        </div>
        <div class="art-basic-info">
            <h3 class="art-detail-title">{{post.title}}</h3>
            <div class="art-detail-author-date-expertise">
                <p class="art-latest-category-pink">{{post.expertise.expertise}}</p>
                <br>
                <div class="art-latest-date-author">
                    <p class="art-latest-date">{{post.date|date:"d.m.Y"}}</p>
                    {% if post.author.middleName != null %}
                        <p class="art-latest-author">{{post.author.firstName.0}}. {{post.author.middleName.0}}. {{post.author.lastName}}</p>
                    {% else %}
                        <p class="art-latest-author">{{post.author.firstName.0}}. {{post.author.lastName}}</p>
                    {% endif %}
            </div>
            <div class="art-detail-content">
                <p class="art-latest-art-category">{{post.category}}</p>
                    <table class="art-latest-art-table">
                        <tr>
                            <td class="art-latest-art-col1">Materials: </td>
                            <td class="art-latest-art-col2">{{post.materials}}</td>
                        </tr>
                        <tr>
                            <td class="art-latest-art-col1">Dimentions: </td>
                            <td class="art-latest-art-col2">{{post.dimentionX}}x{{post.dimentionY}} mm</td>
                        </tr>
                    </table>
                <div class="art-latest-content">
                    <p>{{post.content|safe}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if post.class_name == "Book" %}
    {% endif %}
    {% if post.class_name == "Volume" %}
    {% endif %}
    {% if post.class_name == "Chapter" %}
    {% endif %}
    {% if post.class_name == "Poem" %}
    {% endif %}
</body>
</html>