{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="{% static 'roundabout.css' %}">
</head>


<body>

{% load templatetags %}

<ul>
    <div class="roundabout">
    <!-- Iterate over post_list -->
    {% for post in latest %}
        <div class="one_post">
            {% if post.image.url != null %}
            <img src="{{post.image.url}}" alt="{{post.image.name}}" class="title_image">
            {% else %}
                {% if post.expertise.expertise == 'literature' %}
                <img src="{% static 'literature_img.png' %}" alt="literature" class="title_image">
                {% elif post.expertise.expertise == 'art' %}
                <img src="{% static 'art_img.png' %}" alt="art" class="title_image">
                {% elif post.expertise.expertise == 'science' %}
                {% elif post.expertise.expertise == 'entertainment' %}
                {% endif %}
            {% endif %}
            <div class="post_info">
                <h3 class="title">{{post.title}}</h3>
                <div class="category_author_date">
                    <p class="category">{{post.expertise.expertise}}</p>
                    <p class="date">{{post.date}}</p>
                    <p class="author">{{post.author}}</p>
                    <p class="content">{{post.content|safe|truncatewords:100}}</p>
                </div>
            </div>
        </div>
    <!-- If post_list is empty  -->
    {% empty %}
    <li>No posts yet.</li>
    {% endfor %}
    </div>
</ul>
</body>
</html>
