{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="{% static 'thumbnail.css' %}">
    <link rel="stylesheet" href="{% static 'math_ckeditor.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>


<body>

{% load templatetags %}

    <div class="thumbnail">
    <!-- Iterate over thumb_list -->
    {% for thumb in thumbnails %}
        <div class="one-thumbnail">
            <div class="thumbnail-image-div">
                {% if thumb.image.url != null %}
                    <img class="thumbnail-image" src="{{thumb.image.url}}" alt="{{thumb.image.name}}">
                {% else %}
                    {% if thumb.expertise.expertise == 'literature' %}
                        <img class="thumbnail-image" src="{% static 'literature_img.png' %}" alt="literature">
                    {% elif thumb.expertise.expertise == 'art' %}
                        <img class="thumbnail-image" src="{% static 'art_img.png' %}" alt="art">
                    {% elif thumb.expertise.expertise == 'science' %}
                            <img class="thumbnail-image" src="{% static 'science_img.png' %}" alt="science">
                    {% elif thumb.expertise.expertise == 'entertainment' %}
                            <img class="thumbnail-image" src="{% static 'entertainment_img.png' %}" alt="entertainment">
                    {% endif %}
                {% endif %}
            </div>
            <div class="thumbnail-info">
                <div class="thumbnail-category_author_date">
                    <div class="thumbnail-expertise-date">
                        {% if  thumb.expertise.expertise == 'literature' %}
                            <p class="thumbnail-category-blue">{{thumb.expertise.expertise}}</p>
                        {% elif thumb.expertise.expertise == 'art' %}
                            <p class="thumbnail-category-pink">{{thumb.expertise.expertise}}</p>
                        {% elif thumb.expertise.expertise == 'entertainment'%}
                            <p class="thumbnail-category-purple">{{thumb.expertise.expertise}}</p>
                        {% elif thumb.expertise.expertise == 'science' %}
                            <p class="thumbnail-category-yellow">{{thumb.expertise.expertise}}</p>
                        {% endif %}
                        {% if  thumb.expertise.expertise == 'literature' %}
                            {% if thumb.volume.title != null %}
                                <p class="thumbnail-literature-title">{{thumb.volume.title}}</p>
                            {% elif thumb.volume.book != null %}
                                <p class="thumbnail-literature-title">{{thumb.book.title}}</p>
                            {% endif %}
                        {% elif thumb.expertise.expertise == 'art' %}
                            <p class="thumbnail-art-category">{{thumb.category}}</p>
                        {% endif %}
                        <p class="thumbnail-date">{{thumb.date|date:"d.m.Y"}}</p>
                    </div>
                    <div class="thumbnail-author-div">
                        {% if thumb.author.middleName != null %}
                            <p class="thumbnail-author">{{thumb.author.firstName.0}}. {{thumb.author.middleName.0}}. {{thumb.author.lastName}}</p>
                        {% else %}
                            <p class="thumbnail-author">{{thumb.author.firstName.0}}. {{thumb.author.lastName}}</p>
                        {% endif %}
                    </div>
                </div>
                <h3 class="thumbnail-title">{{thumb.title}}</h3>
                <div class="thumbnail-content">
                    {% if  thumb.expertise.expertise == 'literature' %}
                        <p class="thumbnail-literature-content">{{thumb.content|highlight_code|safe|truncatewords:15}}</p>
                    {% elif thumb.expertise.expertise == 'art' %}
                        <table class="thumbnail-art-table">
                                <tr>
                                    <td class="thumbnail-art-col1">Materials: </td>
                                    <td class="thumbnail-art-col2">{{thumb.materials}}</td>
                                </tr>
                                <tr>
                                    <td class="thumbnail-art-col1">Dimentions: </td>
                                    <td class="thumbnail-art-col2">{{thumb.dimentionX}}x{{post.dimentionY}} mm</td>
                                </tr>
                            </table>
                    {% elif thumb.expertise.expertise == 'entertainment' or thumb.expertise.expertise == 'science' %}
                        <p class="thumbnail-post-content">{{thumb.content|highlight_code|safe|truncatewords:25}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    <!-- If thumb_list is empty  -->
    {% empty %}
        <p>No thumbnails</p>
    {% endfor %}
    </div>
</body>
</html>
