{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="{% static 'roundabout.css' %}">
</head>


<body>

{% load templatetags %}

<ul>
    <div class="roundabout">
    <!-- Iterate over seat_list -->
    {% for seat in roundabout_seats %}
        <div class="one_post">
            {% if seat.image.url != null %}
            <img src="{{seat.image.url}}" alt="{{seat.image.name}}" class="title_image">
            {% else %}
                {% if seat.expertise.expertise == 'literature' %}
                <img src="{% static 'literature_img.png' %}" alt="literature" class="title_image">
                {% elif seat.expertise.expertise == 'art' %}
                <img src="{% static 'art_img.png' %}" alt="art" class="title_image">
                {% elif seat.expertise.expertise == 'science' %}
                {% elif seat.expertise.expertise == 'entertainment' %}
                {% endif %}
            {% endif %}
            <div class="post_info">
                <h3>{{seat.title}}</h3>
                <div class="author_date">
                    <p>{{seat.author}}</p>
                    <p>{{seat.date}}</p>
                </div>
            </div>
        </div>
    <!-- If seat_list is empty  -->
    {% empty %}
    <li>No seats yet.</li>
    {% endfor %}
    </div>
</ul>
</body>
</html>
